.svn
.idea
*.iml

flands.jar
all.zip
*.zip
**/*.class
__pycache__/
*.pyc

debian/files
debian/flands.debhelper.log
debian/flands.substvars
debian/debhelper-build-stamp
debian/flands
debian/.debhelper
